    <div class="footer l-box is-center">
      This kickass app was made a ton of love and light by: <a href="https://github.com/NoCodingGenius">LaToya Williams</a>. View the source code: <a href="https://github.com/NoCodingGenius/crystal-journal">HERE</a>
    </div>
    <script type="text/javascript" src="/script.js"></script>
  </body>

</html>
